{% extends 'base.html' %}

{% block content %}
    <div class="store_title">
        <h1>James Bicycle Store</h1>
    </div>

    <div class="label">
        <h3>Nama: {{ name }}</h3>
        <h3>Kelas: {{ class }}</h3>
    </div>

    <br />

    <div class="current_total_item">
        <h4>anda menyimpan {{ total_items }} sepeda pada aplikasi ini</h4>
    </div>
    
    <table class="box">
        <thead>
            <tr>
                <th class="box-0lax">Name</th>
                <th class="box-0lax">Price</th>
                <th class="box-0lax">Amount</th>
                <th class="box-0lax">Add/Sub</th>
                <th class="box-0lax">Description</th>
                <th class="box-0lax">Date Added</th>
                <th class="box-0lax">Delete Product</th>
            </tr>
        </thead>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="box-0lax">{{ product.name }}</td>
                    <td class="box-0lax">{{ product.price }}</td>
                    <td class="box-0lax">{{ product.amount }}</td>
                    <td class="box-0lax">
                        <form method="POST" action="{% url 'main:decrement_amount' product.id %}">
                            {% csrf_token %}
                            <button type="submit">sub</button>
                        </form>
                        <form method="POST" action="{% url 'main:increment_amount' product.id %}">
                            {% csrf_token %}
                            <button type="submit">add</button>
                        </form>
                        
                    </td>
                    <td class="box-0lax">{{ product.description }}</td>
                    <td class="box-0lax">{{ product.date_added }}</td>
                    <td class="box-0lax">
                        <a href="{% url 'main:delete_product' product.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />

    <div style="text-align: center;">
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
    </div>
    <div style="text-align: center;">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
    <div style="text-align: center;">
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>

    <div class="marquee-container">
        <marquee behavior="scroll" direction="right" style="color: white ; font-size: 20px;" class="marquee-container" scrollamount="15">
            Selamat Datang di Toko Kami !
        </marquee>
    </div>

{% endblock content %}